<p style="color: green"><%= notice %></p>

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Channel</th>
      <th>Title</th>
      <th>PubDate</th>
      <th></th>      
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td>
          <%= item.channel.title %>
        </td>
        <td>
          <%= link_to item.title, item.link, taget: '_blank' %>
        </td>
        <td>
          <%= item.published_at %>
        </td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
